@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow: hidden;
}

.my-layout {
  height: 100vh;
  overflow: hidden;
}
.my-row-center {
  align-items: center;
  justify-content: center;
  height: 100%;
}
.my-card-center {
  margin-top: -5% !important;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px !important;
}
.my-text-center {
  text-align: center;
}
.my-bubble {
  position: relative;
}

.my-bubble:before,
.my-bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

.my-thought:before,
.my-thought:after {
  left: -5px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1.5px solid rgb(229, 231, 235);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
}
.me.my-thought:before,
.me.my-thought:after {
  left: unset;
  right: -5px;
  background-color: inherit;
}

.my-thought:after {
  width: 10px;
  height: 10px;
  left: -10px;
  bottom: -10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.me.my-thought:after {
  left: unset;
  right: -8px;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.tabs-emoji .ant-tabs-content-holder {
  height: 100%;
}

.tabs-emoji .ant-tabs-content.ant-tabs-content-bottom {
  height: inherit;
  padding: 10px;
  padding-right: 0;
}
.tabs-emoji .ant-tabs-tabpane {
  overflow-y: hidden;
}
.tabs-emoji.ant-tabs-bottom > .ant-tabs-nav {
  margin-top: 10px !important;
}
.popover-emoji .ant-popover-inner-content {
  padding: 0;
}
.ant-typography-expand {
  color: inherit !important;
}
.giphy-gif {
  max-width: 400px;
  height: 100%;
}
.my-select {
  width: 100%;
}
.my-select .ant-select-selector {
  border-radius: inherit !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.my-select .ant-select-selection-search {
  left: 20px !important;
  right: 20px !important;
}
.my-select .ant-select-clear {
  right: 20px !important;
}
.my-select .anticon.anticon-close-circle {
  vertical-align: 0 !important;
}
.my-fadein-enter {
  opacity: 0;
}
.my-fadein-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-fadein-exit {
  opacity: 1;
}
.my-fadein-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
